.contact_body{
background-color: lightblue; 

}
.contact_section{
    display: flex;
    position: relative;
    
    
    
}
.contact_div{
    border: 2px solid red;
    display: flex;
    flex-direction: row-reverse;
    
}
