.contact_body{
background-color: lightblue; 

}
.contact_section{
    display: flex;
    position: relative;
    
    
    
}
.contact_div{
    display: flex;
    margin-top: 15rem;
    margin-left: 35rem;
    text-align: center;
    
}
.contact_list{

margin-right: 40rem;
margin-top: 30rem;
width: 100%
}
