@import "./navbar.scss";
@import "./footer.scss";
@import "./partials.scss/button";
@import "./admin.scss";
@import "./products.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
     
}
h1 {
    font-size: 3rem;
    color: white;
    
}
p {
    font-size: 1rem;
    color: white}

.section-top-bg {
    background: url(../img/header_pic.jpg) no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    height: 100vh;
    display: flex;
    padding: 70% 0% 10% 5%;
    justify-content: left;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.section-mid-container {
    display: flex;
    flex-direction: column;
}
.section-mid {
    margin: 1rem 0 1rem 0;
    .display-pics {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    .pic-box-1 {
        width: 55%;
        height: 21.875rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .display-pic-1 {
        width: 100%;
        height: auto;
        transform: rotate(90deg);
    }
    .pic-box-2 {
        width: 40%;
        height: 21.875rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    .pic-box-text {
        color: white;
        font-size: 2rem;
        position: absolute;
        margin-left: 2%;
    }
    .display-pic-2 {
        height: auto;
        width: 100%;
    }
    h1 {
        color: black;
        text-transform: uppercase;
    }
    .section-mid-text {
        float: right;
        text-align: right;
        margin-top: 1rem;
        margin-right: 2%;
        width: 100%;
    }
    .product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    }
  
}