@import "./navbar.scss";
@import "./footer.scss";
@import "./partials.scss/button";
@import "./partials.scss/btn-heart";
@import "./admin.scss";
@import "./products.scss";
<<<<<<< HEAD
@import "./about.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
=======
@import "./wishlist.scss";
@import "./cart.scss";
>>>>>>> 6cc431c400da1224d3425d707e049e7238fbab58
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;
  letter-spacing: 0.03rem;
}

.header-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.section-top-bg {
  background: url(../img/header_pic.jpg) no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  height: 100vh;
  display: flex;
  padding: 70% 0% 10% 5%;
  justify-content: left;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.section-mid-container {
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  text-transform: uppercase;
}
.section-mid-text {
  float: right;
  text-align: right;
  margin-top: 1rem;
  margin-right: 2%;
  width: 100%;
}
