.section-mid {
  display: flex;
  flex-direction: row;
  padding: 60px 60px 10px 60px;
  justify-content: space-between;
}

.text-mid {
  text-align: right;
  padding: 0px 60px 50px 0px;
}

.products {
  padding: 80px 60px 150px 60px;
}

.bottles {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.prod-text {
  color: black;
}

button {
  background-color: #76caca;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0;
  padding: 80px 60px 150px 60px;
}

.gallery-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
