.button {
    background-color: rgb(107, 186, 231);
    border-color: transparent;
    border-width: thin;
    color: white;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: 0.3s; 
    padding: 0.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .button:hover {opacity: 1}